body{
    margin: 0;
    padding: 0;
    background-image: url("media/pexels-moose-photos-1037992.jpg");
    background-size: cover;
    background-attachment: no-repeat;
    background-position: center;
    height: 100vh;
    font-family:'Times New Roman', Times, serif;
}

nav{
    background:linear-gradient(rgba(252, 190, 201,.5),rgba(143, 218, 248,0.5));
    display: flex;
    align-items:center;
    justify-content:space-around;
    color: rgb(134, 84, 181);
    font-size: 20px;
    width: 100%;

}

.logo
{
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
}

nav a{
    text-decoration: none;

}

nav a:hover{
    color:rgb(27, 25, 25);
}

nav li{
    display: inline;
    margin: 0px 8px;
  
}

.menuline{
    height: 2.5px;
    width: 18px;
    margin-top: 1px;
    margin-bottom: 3px  ;
    background-color: rgb(48, 53, 53);
}

.menu{
    cursor: pointer;
    display: none;
}

@media all and (max-width:640px)
{

    body{
        background-position: center;
    }
    nav{
        flex-direction: column;
    }

    nav li{
        display: block;
        padding: 10px 0;
    }

    ul{
        text-align: center;
        padding: 0;
        display: none;
    }

    .logo{
        align-self: flex-start;
        margin:10px 0px 0px 10px ;

    }

    .menu{
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .showmenu{
        display: block;
    }
}